<% layout('layouts/boilerplate') %>
    <h1>Create New Campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Campground Name</label>
        <input type="text" name="campground[title]" id="title">
        <label for="location">Campground Location</label>
        <input type="text" name="campground[location]" id="location">
        <button>SUBMIT</button>
    </form>
    <a href="/campgrounds">CANCEL</a>